body {
    background-color: white
}

nav#main-nav {
    background-color: rgb(205, 127, 37);
}

#main-nav a {
    padding: 1em;
    display: inline-block;
    color: white;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all ease 300ms;
    text-decoration: none;
}

#main-nav a:hover {
    background-color: rgb(199, 162, 107);
}

img:hover {
    transition: all ease 250ms;
    border: double, 8px;
}